@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');
/* -------------------------------------------------------------------------------------------------------------------- */
#CloseButton{
    display: flex;
    position: fixed;
    color: white;
    cursor: pointer;
    margin: 15vh auto 10vh 136.8vh;
    z-index: 100000;
}

.LoginDv{
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.8);
}

.LoginDv-visible{
    display: flex;
}


.LoginForm{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
    position: fixed;
    width: 1000px;
    height: 600px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 99999 ;
    margin: 20vh auto auto 60vh;
}

/* .LoginForm-visible{
    display: flex;
} */

.LoginForm h1 {
	font-weight: bold;
	margin: 0;
}

.LoginForm h2 {
	text-align: center;
}

.LoginForm p {
    color:black;
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

.LoginForm span {
	font-size: 12px;
}

.LoginForm a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

.LoginForm button {
	border-radius: 20px;
	border: 1px solid #eba365;
	background-color: #eba365;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

.LoginForm button:active {
	transform: scale(0.95);
}

.LoginForm button:focus {
	outline: none;
}

.LoginForm button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.LoginForm form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
    
}

.LoginForm input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.LoginForm{
	/* background-color: #fff; */
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	/* position: relative; */
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.LoginForm .form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.LoginForm .sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.LoginForm.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.LoginForm .sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.LoginForm.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.6s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.LoginForm .overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.LoginForm.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.LoginForm .overlay {
	background: #eba365;
	background: -webkit-linear-gradient(to right, orange, #fd7e14);
	background: linear-gradient(to right, orange, #fd7e14);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.LoginForm.right-panel-active .overlay {
    transform: translateX(50%);
}

.LoginForm .overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.LoginForm .overlay-left {
  transform: translateX(-20%);
}

.LoginForm.right-panel-active .overlay-left {
  transform: translateX(0);
}

.LoginForm .overlay-right {
  right: 0;
  transform: translateX(0);
}

.LoginForm .right-panel-active .overlay-right {
	transform: translateX(20%);
}

.LoginForm .social-container {
	margin: 20px 0;
}

.LoginForm .social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.LoginForm footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

.LoginForm footer p {
    margin: 10px 0;
}

.LoginForm footer i {
    color: #eba365;
}

.LoginForm footer a {
    color: #3c97bf;
    text-decoration: none;
}








